{% extends 'template.html.twig' %}
{% block title  %}Stats{% endblock %}
{% block body %}
<table class="table">
    {% for note in notes%}
        <tr>
            <td>{{ note }}</td>
        </tr>
    {% endfor %}
</table>
<div class="alert alert-info">
    <p>le nombre de note {{ notes | length }}</p>
    <p>le maximun {{ max(notes) }}</p>
    <p>le minimum {{ min(notes) }}</p>
</div>
{% endblock %}
{% block bodyTitle %}Stats{% endblock %}